# Estimating School Location Choice

This notebook illustrates how to re-estimate a single model component for ActivitySim.  This process 
includes running ActivitySim in estimation mode to read household travel survey files and write out
the estimation data bundles used in this notebook.  To review how to do so, please visit the other
notebooks in this directory.

# Load libraries

In [1]:
import larch  # !conda install larch #for estimation
import pandas as pd
import numpy as np
import yaml 
import larch.util.excel
import os

We'll work in our `test` directory, where ActivitySim has saved the estimation data bundles.

In [2]:
os.chdir('test')

# Load data and prep model for estimation

In [3]:
modelname="school_location"

In [4]:
from activitysim.estimation.larch import component_model
model, data = component_model(modelname, return_data=True)

# Review data loaded from EDB

Next we can review what was read the EDB, including the coefficients, model settings, utilities specification, and chooser and alternative data.

## coefficients

In [5]:
data.coefficients

                           value constrain
coefficient_name
coef_univ_dist_0_1       -3.2451         F
coef_univ_dist_1_2       -2.7011         F
coef_univ_dist_2_5       -0.5707         F
coef_univ_dist_5_15      -0.5002         F
coef_univ_dist_15_up     -0.0730         F
coef_high_dist_0_1       -0.9523         F
coef_high_grade_dist_1_2 -0.5700         F
coef_high_grade_dist_2_5 -0.5700         F
coef_high_dist_5_15      -0.1930         F
coef_high_dist_15_up     -0.1882         F
coef_grade_dist_0_1      -1.6419         F
coef_grade_dist_5_15     -0.2031         F
coef_grade_dist_15_up    -0.0460         F
coef_mode_logsum          0.5358         F

## alt_values

In [6]:
data.alt_values

,person_id,variable,5,9,10,12,13,14,37,39,...,178,179,180,181,182,184,186,187,189,190
0,629,mode_choice_logsum,-1.2112310566711697,-0.932235390015777,-0.9960110406421955,-1.2780595287661722,-1.4547553701284834,-1.4573412829661365,-3.8602604963599583,-3.8673170163655084,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,629,pick_count,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,629,prob,3.964160543594042e-05,0.0016781637363059928,0.0006643895574387415,0.00279311489869619,0.0021809528368544094,0.000462535262887269,0.0001419935499379287,0.00020956937572710045,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,629,shadow_price_size_term_adjustment,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,629,shadow_price_utility_adjustment,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15739,7541072,util_mode_choice_logsum,0.40135279939989227,0.6886076440937283,-0.19687426761567137,0.2984571875113106,0.12893352536731956,0.11661882054650644,-0.6296937346519611,-1.8050089284615745,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15740,7541072,util_no_attractions,False,False,False,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15741,7541072,util_sample_of_corrections_factor,7.389915782617758,3.63171689160651,4.086567141458603,3.0685803316958498,3.329370934699213,4.894970267088966,6.157455562658895,5.794602181057687,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15742,7541072,util_size_variable,3.7775981687727715,7.102065086612786,6.0156825253211785,8.007621568875283,7.855264033670534,6.409511700926014,5.523688361666357,5.897955675114184,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15743,7541072,util_utility_adjustment,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## chooser_data

In [7]:
data.chooser_data

,person_id,model_choice,override_choice,home_zone_id,school_segment,household_id
0,629,13,12,131,3,629
1,1274,10,10,166,3,1274
2,27266,10,12,9,3,27266
3,28012,5,5,10,3,28012
4,29368,185,185,16,3,29368
...,...,...,...,...,...,...
979,7514214,185,185,56,3,2822879
980,7514777,185,185,106,3,2823442
981,7515185,188,188,142,3,2823850
982,7527597,69,13,188,3,2836262
983,7541072,112,107,117,3,2849737

## landuse

In [8]:
data.landuse

,DISTRICT,SD,county_id,TOTHH,TOTPOP,TOTACRE,RESACRE,CIACRE,TOTEMP,AGE0519,...,area_type,HSENROLL,COLLFTE,COLLPTE,TOPOLOGY,TERMINAL,household_density,employment_density,density_index,is_cbd
zone_id,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,46,82,20.3,1.0,15.00000,27318,7,...,0,0.00000,0.00000,0.00000,3,5.89564,2.875000,1707.375000,2.870167,False
2,1,1,1,134,240,31.1,1.0,24.79297,42078,19,...,0,0.00000,0.00000,0.00000,1,5.84871,5.195214,1631.374751,5.178722,False
3,1,1,1,267,476,14.7,1.0,2.31799,2445,38,...,0,0.00000,0.00000,0.00000,1,5.53231,80.470405,736.891913,72.547987,False
4,1,1,1,151,253,19.3,1.0,18.00000,22434,20,...,0,0.00000,0.00000,0.00000,2,5.64330,7.947368,1180.736842,7.894233,False
5,1,1,1,611,1069,52.7,1.0,15.00000,15662,86,...,0,0.00000,72.14684,0.00000,1,5.52555,38.187500,978.875000,36.753679,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,4,4,1,2779,8062,376.0,172.0,15.00000,1760,1178,...,3,0.00000,0.00000,0.00000,1,2.04173,14.860963,9.411765,5.762347,False
187,4,4,1,1492,4139,214.0,116.0,10.00000,808,603,...,3,0.00000,0.00000,0.00000,2,1.73676,11.841270,6.412698,4.159890,False
188,4,4,1,753,4072,232.0,11.0,178.00000,4502,1117,...,2,3961.04761,17397.79102,11152.93652,1,2.28992,3.984127,23.820106,3.413233,False
189,4,4,1,3546,8476,201.0,72.0,6.00000,226,1057,...,2,0.00000,0.00000,0.00000,1,2.88773,45.461538,2.897436,2.723836,False
190,4,4,1,968,1647,1381.0,14.0,28.00000,1010,114,...,3,0.00000,0.00000,0.00000,1,2.60309,23.047619,24.047619,11.768501,False

## spec

In [9]:
data.spec

,Label,Description,Expression,university,highschool,gradeschool
0,util_dist_0_1,"Distance, piecewise linear from 0 to 1 miles","@_DIST.clip(0,1)",coef_univ_dist_0_1,coef_high_dist_0_1,coef_grade_dist_0_1
1,util_dist_1_2,"Distance, piecewise linear from 1 to 2 miles","@(_DIST-1).clip(0,1)",coef_univ_dist_1_2,coef_high_grade_dist_1_2,coef_high_grade_dist_1_2
2,util_dist_2_5,"Distance, piecewise linear from 2 to 5 miles","@(_DIST-2).clip(0,3)",coef_univ_dist_2_5,coef_high_grade_dist_2_5,coef_high_grade_dist_2_5
3,util_dist_5_15,"Distance, piecewise linear from 5 to 15 miles","@(_DIST-5).clip(0,10)",coef_univ_dist_5_15,coef_high_dist_5_15,coef_grade_dist_5_15
4,util_dist_15_up,"Distance, piecewise linear for 15+ miles",@(_DIST-15.0).clip(0),coef_univ_dist_15_up,coef_high_dist_15_up,coef_grade_dist_15_up
5,util_no_attractions,No attractions,@df['size_term']==0,-999,-999,-999
6,util_mode_choice_logsum,Mode choice logsum,mode_choice_logsum,coef_mode_logsum,coef_mode_logsum,coef_mode_logsum
7,util_sample_of_corrections_factor,Sample of alternatives correction factor,"@np.minimum(np.log(df.pick_count/df.prob), 60)",1,1,1

## size_spec

In [10]:
data.size_spec

             AGE0519  HSENROLL  COLLFTE  COLLPTE
segment
university       0.0       0.0    0.592    0.408
gradeschool      1.0       0.0    0.000    0.000
highschool       0.0       1.0    0.000    0.000

# Estimate

With the model setup for estimation, the next step is to estimate the model coefficients.  Make sure to use a sufficiently large enough household sample and set of zones to avoid an over-specified model, which does not have a numerically stable likelihood maximizing solution.  Larch has a built-in estimation methods including BHHH, and also offers access to more advanced general purpose non-linear optimizers in the `scipy` package, including SLSQP, which allows for bounds and constraints on parameters.  BHHH is the default and typically runs faster, but does not follow constraints on parameters.

In [11]:
model.estimate(method='BHHH', options={'maxiter':1000})

req_data does not request avail_ca or avail_co but it is set and being provided

,value,initvalue,nullvalue,minimum,maximum,holdfast,note,best
-999,-999.000000,-999.000000,-999.0,-999.0,-999.0,1,,-999.000000
1,1.000000,1.000000,1.0,1.0,1.0,1,,1.000000
coef_grade_dist_0_1,-1.824840,-1.641900,0.0,NaN,NaN,0,,-1.824840
coef_grade_dist_15_up,-0.046000,-0.046000,0.0,NaN,NaN,0,,-0.046000
coef_grade_dist_5_15,-0.144663,-0.203100,0.0,NaN,NaN,0,,-0.144663
coef_high_dist_0_1,-2.106211,-0.952300,0.0,NaN,NaN,0,,-2.106211
coef_high_dist_15_up,-0.188200,-0.188200,0.0,NaN,NaN,0,,-0.188200
coef_high_dist_5_15,-0.101747,-0.193000,0.0,NaN,NaN,0,,-0.101747
coef_high_grade_dist_1_2,-0.751852,-0.570000,0.0,NaN,NaN,0,,-0.751852
coef_high_grade_dist_2_5,-0.667119,-0.570000,0.0,NaN,NaN,0,,-0.667119
coef_mode_logsum,0.372245,0.535800,0.0,NaN,NaN,0,,0.372245
coef_univ_dist_0_1,-3.311744,-3.245100,0.0,NaN,NaN,0,,-3.311744
coef_univ_dist_15_up,-0.073000,-0.073000,0.0,NaN,NaN,0,,-0.073000
coef_univ_dist_1_2,-2.878224,-2.701100,0.0,NaN,NaN,0,,-2.878224
coef_univ_dist_2_5,-0.456009,-0.570700,0.0,NaN,NaN,0,,-0.456009
coef_univ_dist_5_15,-0.572553,-0.500200,0.0,NaN,NaN,0,,-0.572553
gradeschool_AGE0519,0.000000,0.000000,0.0,-6.0,6.0,1,,0.000000
highschool_HSENROLL,0.000000,0.000000,0.0,-6.0,6.0,1,,0.000000
university_COLLFTE,-0.524249,-0.524249,0.0,-6.0,6.0,1,,-0.524249
university_COLLPTE,-1.208828,-0.896488,0.0,-6.0,6.0,0,,-1.208828

/Users/jeffnewman/OneDrive - Cambridge Systematics/Git/larch/larch/linalg/__init__.py:18: UserWarning: minimum eig 1.702173976472811e-15 in general_inverse
  warnings.warn(f"minimum eig {min_eig} in general_inverse")
/Users/jeffnewman/OneDrive - Cambridge Systematics/Git/larch/larch/linalg/__init__.py:18: UserWarning: minimum eig 7.452131216396507e-16 in general_inverse
  warnings.warn(f"minimum eig {min_eig} in general_inverse")
/Users/jeffnewman/OneDrive - Cambridge Systematics/Git/larch/larch/linalg/__init__.py:18: UserWarning: minimum eig 1.6859854144555066e-15 in general_inverse
  warnings.warn(f"minimum eig {min_eig} in general_inverse")
/Users/jeffnewman/OneDrive - Cambridge Systematics/Git/larch/larch/linalg/__init__.py:18: UserWarning: minimum eig 1.0694117400754151e-16 in general_inverse
  warnings.warn(f"minimum eig {min_eig} in general_inverse")
/Users/jeffnewman/OneDrive - Cambridge Systematics/Git/larch/larch/linalg/__init__.py:18: UserWarning: minimum eig 7.262790059748344e-16 in general_inverse
  warnings.warn(f"minimum eig {min_eig} in general_inverse")
/Users/jeffnewman/OneDrive - Cambridge Systematics/Git/larch/larch/linalg/__init__.py:18: UserWarning: minimum eig 1.6292481359929981e-15 in general_inverse
  warnings.warn(f"minimum eig {min_eig} in general_inverse")
/Users/jeffnewman/OneDrive - Cambridge Systematics/Git/larch/larch/linalg/__init__.py:18: UserWarning: minimum eig 1.818811050478879e-15 in general_inverse
  warnings.warn(f"minimum eig {min_eig} in general_inverse")
/Users/jeffnewman/OneDrive - Cambridge Systematics/Git/larch/larch/linalg/__init__.py:18: UserWarning: minimum eig 1.2608013734918816e-15 in general_inverse
  warnings.warn(f"minimum eig {min_eig} in general_inverse")

┣          loglike: -4058.719620832402
┣                x: -999                       -999.000000
┃                   1                             1.000000
┃                   coef_grade_dist_0_1          -1.824840
┃                   coef_grade_dist_15_up        -0.046000
┃                   coef_grade_dist_5_15         -0.144663
┃                   coef_high_dist_0_1           -2.106211
┃                   coef_high_dist_15_up         -0.188200
┃                   coef_high_dist_5_15          -0.101747
┃                   coef_high_grade_dist_1_2     -0.751852
┃                   coef_high_grade_dist_2_5     -0.667119
┃                   coef_mode_logsum              0.372245
┃                   coef_univ_dist_0_1           -3.311744
┃                   coef_univ_dist_15_up         -0.073000
┃                   coef_univ_dist_1_2           -2.878224
┃                   coef_univ_dist_2_5           -0.456009
┃                   coef_univ_dist_5_15          -0.572553
┃                   gradeschool_AGE0519           0.000000
┃                   highschool_HSENROLL           0.000000
┃                   university_COLLFTE           -0.524249
┃                   university_COLLPTE           -1.208828
┃                   dtype: float64
┣        tolerance: 7.272237631812952e-06
┣            steps: array([1., 1., 1., 1., 1., 1.])
┣          message: 'Optimization terminated successfully.'
┣     elapsed_time: datetime.timedelta(microseconds=218468)
┣           method: 'BHHH'
┣          n_cases: 984
┣ iteration_number: 6
┣          logloss: 4.124715061821547

### Estimated coefficients

In [12]:
model.parameter_summary()

# Output Estimation Results

In [13]:
from activitysim.estimation.larch import update_coefficients, update_size_spec
result_dir = data.edb_directory/"estimated"

## Write updated utility coefficients

In [14]:
update_coefficients(
    model, data, result_dir,
    output_file=f"{modelname}_coefficients_revised.csv",
);

## Write updated size coefficients

In [15]:
update_size_spec(
    model, data, result_dir, 
    output_file=f"{modelname}_size_terms.csv",
)

,segment,model_selector,TOTHH,RETEMPN,FPSEMPN,HEREMPN,OTHEMPN,AGREMPN,MWTEMPN,AGE0519,HSENROLL,COLLFTE,COLLPTE
0,work_low,workplace,0.000000,0.129129,0.193193,0.383383,0.120120,0.010010,0.164164,0.000,0.000000,0.000000,0.000000
1,work_med,workplace,0.000000,0.120120,0.197197,0.325325,0.139139,0.008008,0.210210,0.000,0.000000,0.000000,0.000000
2,work_high,workplace,0.000000,0.110000,0.207000,0.284000,0.154000,0.006000,0.239000,0.000,0.000000,0.000000,0.000000
3,work_veryhigh,workplace,0.000000,0.093000,0.270000,0.241000,0.146000,0.004000,0.246000,0.000,0.000000,0.000000,0.000000
4,university,school,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.664760,0.335240
5,gradeschool,school,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000,0.000000,0.000000,0.000000
6,highschool,school,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,1.000000,0.000000,0.000000
7,escort,non_mandatory,0.000000,0.225000,0.000000,0.144000,0.000000,0.000000,0.000000,0.465,0.166000,0.000000,0.000000
8,shopping,non_mandatory,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
9,eatout,non_mandatory,0.000000,0.742000,0.000000,0.258000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
10,othmaint,non_mandatory,0.000000,0.482000,0.000000,0.518000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
11,social,non_mandatory,0.000000,0.522000,0.000000,0.478000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
12,othdiscr,non_mandatory,0.252252,0.212212,0.000000,0.272272,0.165165,0.000000,0.000000,0.000,0.098098,0.000000,0.000000
13,atwork,atwork,0.000000,0.742000,0.000000,0.258000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
14,work,trip,0.000000,0.166667,0.166667,0.166667,0.166667,0.166667,0.166667,0.000,0.000000,0.000000,0.000000
15,escort,trip,0.001000,0.225000,0.000000,0.144000,0.000000,0.000000,0.000000,0.464,0.166000,0.000000,0.000000
16,shopping,trip,0.001000,0.999000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
17,eatout,trip,0.000000,0.742000,0.000000,0.258000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
18,othmaint,trip,0.001000,0.481000,0.000000,0.518000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
19,social,trip,0.001000,0.521000,0.000000,0.478000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
20,othdiscr,trip,0.252252,0.212212,0.000000,0.272272,0.165165,0.000000,0.000000,0.000,0.098098,0.000000,0.000000
21,univ,trip,0.000999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.591409,0.407592

## Write the model estimation report, including coefficient t-statistic and log likelihood

In [16]:
model.to_xlsx(
    result_dir/f"{modelname}_model_estimation.xlsx", 
    data_statistics=False,
);

# Next Steps

The final step is to either manually or automatically copy the `*_coefficients_revised.csv` file and `*_size_terms.csv` file to the configs folder, rename them to `*_coefficients.csv` and `destination_choice_size_terms.csv`, and run ActivitySim in simulation mode.  Note that all the location
and desintation choice models share the same `destination_choice_size_terms.csv` input file, so if you
are updating all these models, you'll need to ensure that updated sections of this file for each model
are joined together correctly.

In [17]:
pd.read_csv(result_dir/f"{modelname}_coefficients_revised.csv")

            coefficient_name     value constrain
0         coef_univ_dist_0_1 -3.311744         F
1         coef_univ_dist_1_2 -2.878224         F
2         coef_univ_dist_2_5 -0.456009         F
3        coef_univ_dist_5_15 -0.572553         F
4       coef_univ_dist_15_up -0.073000         F
5         coef_high_dist_0_1 -2.106211         F
6   coef_high_grade_dist_1_2 -0.751852         F
7   coef_high_grade_dist_2_5 -0.667119         F
8        coef_high_dist_5_15 -0.101747         F
9       coef_high_dist_15_up -0.188200         F
10       coef_grade_dist_0_1 -1.824840         F
11      coef_grade_dist_5_15 -0.144663         F
12     coef_grade_dist_15_up -0.046000         F
13          coef_mode_logsum  0.372245         F

In [18]:
pd.read_csv(result_dir/f"{modelname}_size_terms.csv")

,index,segment,model_selector,TOTHH,RETEMPN,FPSEMPN,HEREMPN,OTHEMPN,AGREMPN,MWTEMPN,AGE0519,HSENROLL,COLLFTE,COLLPTE
0,0,work_low,workplace,0.000000,0.129129,0.193193,0.383383,0.120120,0.010010,0.164164,0.000,0.000000,0.000000,0.000000
1,1,work_med,workplace,0.000000,0.120120,0.197197,0.325325,0.139139,0.008008,0.210210,0.000,0.000000,0.000000,0.000000
2,2,work_high,workplace,0.000000,0.110000,0.207000,0.284000,0.154000,0.006000,0.239000,0.000,0.000000,0.000000,0.000000
3,3,work_veryhigh,workplace,0.000000,0.093000,0.270000,0.241000,0.146000,0.004000,0.246000,0.000,0.000000,0.000000,0.000000
4,4,university,school,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.664760,0.335240
5,5,gradeschool,school,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000,0.000000,0.000000,0.000000
6,6,highschool,school,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,1.000000,0.000000,0.000000
7,7,escort,non_mandatory,0.000000,0.225000,0.000000,0.144000,0.000000,0.000000,0.000000,0.465,0.166000,0.000000,0.000000
8,8,shopping,non_mandatory,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
9,9,eatout,non_mandatory,0.000000,0.742000,0.000000,0.258000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
10,10,othmaint,non_mandatory,0.000000,0.482000,0.000000,0.518000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
11,11,social,non_mandatory,0.000000,0.522000,0.000000,0.478000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
12,12,othdiscr,non_mandatory,0.252252,0.212212,0.000000,0.272272,0.165165,0.000000,0.000000,0.000,0.098098,0.000000,0.000000
13,13,atwork,atwork,0.000000,0.742000,0.000000,0.258000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
14,14,work,trip,0.000000,0.166667,0.166667,0.166667,0.166667,0.166667,0.166667,0.000,0.000000,0.000000,0.000000
15,15,escort,trip,0.001000,0.225000,0.000000,0.144000,0.000000,0.000000,0.000000,0.464,0.166000,0.000000,0.000000
16,16,shopping,trip,0.001000,0.999000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
17,17,eatout,trip,0.000000,0.742000,0.000000,0.258000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
18,18,othmaint,trip,0.001000,0.481000,0.000000,0.518000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
19,19,social,trip,0.001000,0.521000,0.000000,0.478000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
20,20,othdiscr,trip,0.252252,0.212212,0.000000,0.272272,0.165165,0.000000,0.000000,0.000,0.098098,0.000000,0.000000
21,21,univ,trip,0.000999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.591409,0.407592