# Estimating School Location Choice

This notebook illustrates how to re-estimate a single model component for ActivitySim.  This process 
includes running ActivitySim in estimation mode to read household travel survey files and write out
the estimation data bundles used in this notebook.  To review how to do so, please visit the other
notebooks in this directory.

# Load libraries

In [1]:
import larch as lx
import pandas as pd

lx.versions()

JAX not found. Some functionality will be unavailable.

{'larch': '6.0.31.dev37+gd94e3a6',
 'sharrow': '2.12.2.dev4+gea8174f',
 'numpy': '1.26.4',
 'pandas': '1.5.3',
 'xarray': '2024.3.0',
 'numba': '0.60.0'}

For this demo, we will assume that you have already run ActivitySim in estimation
mode, and saved the required estimation data bundles (EDB's) to disk.  See
the [first notebook](./01_estimation_mode.ipynb) for details.  The following module
will run a script to set everything up if the example data is not already available.

In [2]:
from est_mode_setup import prepare
prepare()

EDB directory already populated.

PosixPath('test-estimation-data/activitysim-prototype-mtc-extended')

# Load data and prep model for estimation

In [3]:
modelname="school_location"

In [4]:
from activitysim.estimation.larch import component_model

model, data = component_model(
    modelname, return_data=True, 
    edb_directory=f"output-est-mode/estimation_data_bundle/{modelname}/",
)

loading from output-est-mode/estimation_data_bundle/school_location/school_location_coefficients.csv
loading from output-est-mode/estimation_data_bundle/school_location/school_location_SPEC.csv
loading from output-est-mode/estimation_data_bundle/school_location/school_location_alternatives_combined.parquet
loading from output-est-mode/estimation_data_bundle/school_location/school_location_choosers_combined.parquet
loading from output-est-mode/estimation_data_bundle/school_location/school_location_landuse.csv
loading from output-est-mode/estimation_data_bundle/school_location/school_location_size_terms.csv

# Review data loaded from EDB

Next we can review what was read the EDB, including the coefficients, model settings, utilities specification, and chooser and alternative data.

## coefficients

In [5]:
data.coefficients

                           value constrain
coefficient_name
coef_univ_dist_0_1       -3.2451         F
coef_univ_dist_1_2       -2.7011         F
coef_univ_dist_2_5       -0.5707         F
coef_univ_dist_5_15      -0.5002         F
coef_univ_dist_15_up     -0.0730         F
coef_high_dist_0_1       -0.9523         F
coef_high_grade_dist_1_2 -0.5700         F
coef_high_grade_dist_2_5 -0.5700         F
coef_high_dist_5_15      -0.1930         F
coef_high_dist_15_up     -0.1882         F
coef_grade_dist_0_1      -1.6419         F
coef_grade_dist_5_15     -0.2031         F
coef_grade_dist_15_up    -0.0460         F
coef_mode_logsum          0.5358         F

## alt_values

In [6]:
data.alt_values

,person_id,alt_dest,prob,pick_count,mode_choice_logsum,size_term,shadow_price_size_term_adjustment,shadow_price_utility_adjustment,util_dist_0_1,util_dist_1_2,util_dist_2_5,util_dist_5_15,util_dist_15_up,util_size_variable,util_utility_adjustment,util_no_attractions,util_mode_choice_logsum,util_sample_of_corrections_factor
0,1918,13,0.006688,1,-0.748611,2578.276039,1,0,1.0,1.00,3.00,2.18,0.000000,7.855264,0,False,-0.748611,5.007436
1,1918,69,0.034697,2,-1.228993,4541.220657,1,0,1.0,1.00,3.00,0.02,0.000000,8.421171,0,False,-1.228993,4.054244
2,1918,133,0.249356,5,-0.916451,13419.153743,1,0,1.0,1.00,1.46,0.00,0.000000,9.504513,0,False,-0.916451,2.998311
3,1918,185,0.073783,6,0.075435,146.752243,1,0,1.0,0.09,0.00,0.00,0.000000,4.995537,0,False,0.075435,4.398386
4,1918,188,0.563157,16,-0.494830,14849.890384,1,0,1.0,1.00,0.21,0.00,0.000000,9.605815,0,False,-0.494830,3.346785
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280369,7560173,961,0.009587,2,-7.651546,2344.192182,1,0,1.0,1.00,3.00,10.00,12.840000,7.760123,0,False,-7.651546,5.340517
280370,7560173,1019,0.066276,3,-8.962833,19615.000247,1,0,1.0,1.00,3.00,10.00,15.450001,9.884101,0,False,-8.962833,3.812534
280371,7560173,1127,0.046707,2,-7.268993,9729.629299,1,0,1.0,1.00,3.00,10.00,10.639999,9.183034,0,False,-7.268993,3.757005
280372,7560173,1198,0.007698,1,-10.470374,3124.400431,1,0,1.0,1.00,3.00,10.00,19.779999,8.047318,0,False,-10.470374,4.866794
280373,7561903,1127,0.981543,31,4.218881,9729.629299,1,0,1.0,1.00,0.32,0.00,0.000000,9.183034,0,False,4.218881,3.452616

## chooser_data

In [7]:
data.chooser_data

,person_id,model_choice,override_choice,home_zone_id,school_segment,household_id
0,1918,188,188,186,3,1918
1,2256,133,229,208,3,2256
2,3215,291,229,252,3,3215
3,4362,300,342,313,3,4362
4,5859,490,490,400,3,5859
...,...,...,...,...,...,...
14984,7550994,1091,1091,1124,2,2859659
14985,7552418,1270,1263,1268,2,2861083
14986,7553232,1324,1324,1320,2,2861897
14987,7560173,557,811,743,3,2868838
14988,7561903,1127,1127,1121,3,2870568

## landuse

In [8]:
data.landuse

,DISTRICT,SD,county_id,TOTHH,TOTPOP,TOTACRE,RESACRE,CIACRE,TOTEMP,AGE0519,...,area_type,HSENROLL,COLLFTE,COLLPTE,TOPOLOGY,TERMINAL,household_density,employment_density,density_index,is_cbd
zone_id,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,46,82,20.3,1.0,15.00000,27318,7,...,0,0.0,0.00000,0.0,3,5.89564,2.875000,1707.375000,2.870167,False
2,1,1,1,134,240,31.1,1.0,24.79297,42078,19,...,0,0.0,0.00000,0.0,1,5.84871,5.195214,1631.374751,5.178722,False
3,1,1,1,267,476,14.7,1.0,2.31799,2445,38,...,0,0.0,0.00000,0.0,1,5.53231,80.470405,736.891913,72.547987,False
4,1,1,1,151,253,19.3,1.0,18.00000,22434,20,...,0,0.0,0.00000,0.0,2,5.64330,7.947368,1180.736842,7.894233,False
5,1,1,1,611,1069,52.7,1.0,15.00000,15662,86,...,0,0.0,72.14684,0.0,1,5.52555,38.187500,978.875000,36.753679,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1450,34,34,9,2724,6493,1320.0,630.0,69.00000,1046,1013,...,4,0.0,0.00000,0.0,1,1.12116,3.896996,1.496423,1.081235,False
1451,34,34,9,2016,4835,664.0,379.0,43.00000,757,757,...,4,0.0,0.00000,0.0,1,1.17116,4.777251,1.793839,1.304140,False
1452,34,34,9,2178,5055,1068.0,602.0,35.00000,2110,789,...,4,0.0,0.00000,0.0,1,1.17587,3.419152,3.312402,1.682465,False
1453,34,34,9,298,779,14195.0,429.0,4.00000,922,88,...,5,0.0,0.00000,0.0,1,1.01972,0.688222,2.129330,0.520115,False
1454,34,34,9,1068,2337,10469.0,1114.0,27.00000,607,418,...,5,0.0,0.00000,0.0,1,0.95542,0.936021,0.531989,0.339203,False

## spec

In [9]:
data.spec

,Label,Description,Expression,university,highschool,gradeschool
0,util_dist_0_1,"Distance, piecewise linear from 0 to 1 miles","@_DIST.clip(0,1)",coef_univ_dist_0_1,coef_high_dist_0_1,coef_grade_dist_0_1
1,util_dist_1_2,"Distance, piecewise linear from 1 to 2 miles","@(_DIST-1).clip(0,1)",coef_univ_dist_1_2,coef_high_grade_dist_1_2,coef_high_grade_dist_1_2
2,util_dist_2_5,"Distance, piecewise linear from 2 to 5 miles","@(_DIST-2).clip(0,3)",coef_univ_dist_2_5,coef_high_grade_dist_2_5,coef_high_grade_dist_2_5
3,util_dist_5_15,"Distance, piecewise linear from 5 to 15 miles","@(_DIST-5).clip(0,10)",coef_univ_dist_5_15,coef_high_dist_5_15,coef_grade_dist_5_15
4,util_dist_15_up,"Distance, piecewise linear for 15+ miles",@(_DIST-15.0).clip(0),coef_univ_dist_15_up,coef_high_dist_15_up,coef_grade_dist_15_up
5,util_no_attractions,No attractions,@df['size_term']==0,-999,-999,-999
6,util_mode_choice_logsum,Mode choice logsum,mode_choice_logsum,coef_mode_logsum,coef_mode_logsum,coef_mode_logsum
7,util_sample_of_corrections_factor,Sample of alternatives correction factor,"@np.minimum(np.log(df.pick_count/df.prob), 60)",1,1,1

## size_spec

In [10]:
data.size_spec

             AGE0519  HSENROLL  COLLFTE  COLLPTE
segment
university       0.0       0.0    0.592    0.408
gradeschool      1.0       0.0    0.000    0.000
highschool       0.0       1.0    0.000    0.000

In [11]:
model.required_data()

┣        ca: ['AGE0519*(school_segment==1)',
┃             'COLLFTE*(school_segment==3)',
┃             'COLLPTE*(school_segment==3)',
┃             'HSENROLL*(school_segment==2)',
┃             'util_dist_0_1*(school_segment==1)',
┃             'util_dist_0_1*(school_segment==2)',
┃             'util_dist_0_1*(school_segment==3)',
┃             'util_dist_15_up*(school_segment==1)',
┃             'util_dist_15_up*(school_segment==2)',
┃             'util_dist_15_up*(school_segment==3)',
┃             'util_dist_1_2*(school_segment==1)',
┃             'util_dist_1_2*(school_segment==2)',
┃             'util_dist_1_2*(school_segment==3)',
┃             'util_dist_2_5*(school_segment==1)',
┃             'util_dist_2_5*(school_segment==2)',
┃             'util_dist_2_5*(school_segment==3)',
┃             'util_dist_5_15*(school_segment==1)',
┃             'util_dist_5_15*(school_segment==2)',
┃             'util_dist_5_15*(school_segment==3)',
┃             'util_mode_choice_logsum*(school_segment==1)',
┃             'util_mode_choice_logsum*(school_segment==2)',
┃             'util_mode_choice_logsum*(school_segment==3)',
┃             'util_no_attractions*(school_segment==1)',
┃             'util_no_attractions*(school_segment==2)',
┃             'util_no_attractions*(school_segment==3)',
┃             'util_sample_of_corrections_factor*(school_segment==1)',
┃             'util_sample_of_corrections_factor*(school_segment==2)',
┃             'util_sample_of_corrections_factor*(school_segment==3)']
┣ choice_ca: 'override_choice == _original_zone_id'
┣  avail_ca: '_avail_'

Running the `doctor` method will check the model specification for potential issues.

In [12]:
model, problems = model.doctor()

print(problems)

dictx()

# Estimate

With the model setup for estimation, the next step is to estimate the model coefficients.  Make sure to use a sufficiently large enough household sample and set of zones to avoid an over-specified model, which does not have a numerically stable likelihood maximizing solution.  Larch has a built-in estimation methods including BHHH, and also offers access to more advanced general purpose non-linear optimizers in the `scipy` package, including SLSQP, which allows for bounds and constraints on parameters.  BHHH is the default and typically runs faster, but does not follow constraints on parameters.

In [13]:
model.estimate(method='BHHH', options={'maxiter':1000})

,value,best,initvalue,minimum,maximum,nullvalue,holdfast
param_name,,,,,,,
-999,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,0.0,1
1,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1
coef_grade_dist_0_1,-1.886212,-1.886212,-1.641900,-25.000000,25.000000,0.0,0
coef_grade_dist_15_up,-0.103616,-0.103616,-0.046000,-25.000000,25.000000,0.0,0
coef_grade_dist_5_15,-0.285452,-0.285452,-0.203100,-25.000000,25.000000,0.0,0
coef_high_dist_0_1,-0.869799,-0.869799,-0.952300,-25.000000,25.000000,0.0,0
coef_high_dist_15_up,-0.233127,-0.233127,-0.188200,-25.000000,25.000000,0.0,0
coef_high_dist_5_15,-0.285690,-0.285690,-0.193000,-25.000000,25.000000,0.0,0
coef_high_grade_dist_1_2,-0.931692,-0.931692,-0.570000,-25.000000,25.000000,0.0,0
coef_high_grade_dist_2_5,-0.694687,-0.694687,-0.570000,-25.000000,25.000000,0.0,0
coef_mode_logsum,0.074994,0.074994,0.535800,-25.000000,25.000000,0.0,0
coef_univ_dist_0_1,-2.780799,-2.780799,-3.245100,-25.000000,25.000000,0.0,0
coef_univ_dist_15_up,-0.145257,-0.145257,-0.073000,-25.000000,25.000000,0.0,0
coef_univ_dist_1_2,-3.082102,-3.082102,-2.701100,-25.000000,25.000000,0.0,0
coef_univ_dist_2_5,-0.668470,-0.668470,-0.570700,-25.000000,25.000000,0.0,0
coef_univ_dist_5_15,-0.563338,-0.563338,-0.500200,-25.000000,25.000000,0.0,0
gradeschool_AGE0519,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1
highschool_HSENROLL,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1
university_COLLFTE,-0.524249,-0.524249,-0.524249,-0.524249,-0.524249,0.0,1
university_COLLPTE,-0.900765,-0.900765,-0.896488,-6.000000,6.000000,0.0,0

┣          loglike: -30424.700914962996
┣                x: -999                       -999.000000
┃                   1                             1.000000
┃                   coef_grade_dist_0_1          -1.886212
┃                   coef_grade_dist_15_up        -0.103616
┃                   coef_grade_dist_5_15         -0.285452
┃                   coef_high_dist_0_1           -0.869799
┃                   coef_high_dist_15_up         -0.233127
┃                   coef_high_dist_5_15          -0.285690
┃                   coef_high_grade_dist_1_2     -0.931692
┃                   coef_high_grade_dist_2_5     -0.694687
┃                   coef_mode_logsum              0.074994
┃                   coef_univ_dist_0_1           -2.780799
┃                   coef_univ_dist_15_up         -0.145257
┃                   coef_univ_dist_1_2           -3.082102
┃                   coef_univ_dist_2_5           -0.668470
┃                   coef_univ_dist_5_15          -0.563338
┃                   gradeschool_AGE0519           0.000000
┃                   highschool_HSENROLL           0.000000
┃                   university_COLLFTE           -0.524249
┃                   university_COLLPTE           -0.900765
┃                   dtype: float64
┣        tolerance: 4.213233078884777e-06
┣            steps: array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])
┣          message: 'Optimization terminated successfully'
┣     elapsed_time: datetime.timedelta(microseconds=994749)
┣           method: 'BHHH'
┣          n_cases: 14989
┣ iteration_number: 13

### Estimated coefficients

In [14]:
model.parameter_summary()

In [15]:
model.estimation_statistics()

# Output Estimation Results

In [16]:
from activitysim.estimation.larch import update_coefficients, update_size_spec
result_dir = data.edb_directory/"estimated"

## Write updated utility coefficients

In [17]:
update_coefficients(
    model, data, result_dir,
    output_file=f"{modelname}_coefficients_revised.csv",
);

## Write updated size coefficients

In [18]:
update_size_spec(
    model, data, result_dir, 
    output_file=f"{modelname}_size_terms.csv",
)

,segment,model_selector,TOTHH,RETEMPN,FPSEMPN,HEREMPN,OTHEMPN,AGREMPN,MWTEMPN,AGE0519,HSENROLL,COLLFTE,COLLPTE
0,work_low,workplace,0.000000,0.129129,0.193193,0.383383,0.120120,0.010010,0.164164,0.000,0.000000,0.000000,0.000000
1,work_med,workplace,0.000000,0.120120,0.197197,0.325325,0.139139,0.008008,0.210210,0.000,0.000000,0.000000,0.000000
2,work_high,workplace,0.000000,0.110000,0.207000,0.284000,0.154000,0.006000,0.239000,0.000,0.000000,0.000000,0.000000
3,work_veryhigh,workplace,0.000000,0.093000,0.270000,0.241000,0.146000,0.004000,0.246000,0.000,0.000000,0.000000,0.000000
4,university,school,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.593032,0.406968
5,gradeschool,school,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000,0.000000,0.000000,0.000000
6,highschool,school,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,1.000000,0.000000,0.000000
7,escort,non_mandatory,0.000000,0.225000,0.000000,0.144000,0.000000,0.000000,0.000000,0.465,0.166000,0.000000,0.000000
8,shopping,non_mandatory,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
9,eatout,non_mandatory,0.000000,0.742000,0.000000,0.258000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
10,othmaint,non_mandatory,0.000000,0.482000,0.000000,0.518000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
11,social,non_mandatory,0.000000,0.522000,0.000000,0.478000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
12,othdiscr,non_mandatory,0.252252,0.212212,0.000000,0.272272,0.165165,0.000000,0.000000,0.000,0.098098,0.000000,0.000000
13,atwork,atwork,0.000000,0.742000,0.000000,0.258000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
14,work,trip,0.000000,0.166667,0.166667,0.166667,0.166667,0.166667,0.166667,0.000,0.000000,0.000000,0.000000
15,escort,trip,0.001000,0.225000,0.000000,0.144000,0.000000,0.000000,0.000000,0.464,0.166000,0.000000,0.000000
16,shopping,trip,0.001000,0.999000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
17,eatout,trip,0.000000,0.742000,0.000000,0.258000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
18,othmaint,trip,0.001000,0.481000,0.000000,0.518000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
19,social,trip,0.001000,0.521000,0.000000,0.478000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
20,othdiscr,trip,0.252252,0.212212,0.000000,0.272272,0.165165,0.000000,0.000000,0.000,0.098098,0.000000,0.000000
21,univ,trip,0.000999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.591409,0.407592

## Write the model estimation report, including coefficient t-statistic and log likelihood

In [19]:
model.to_xlsx(
    result_dir/f"{modelname}_model_estimation.xlsx", 
    data_statistics=False,
);

# Next Steps

The final step is to either manually or automatically copy the `*_coefficients_revised.csv` file and `*_size_terms.csv` file to the configs folder, rename them to `*_coefficients.csv` and `destination_choice_size_terms.csv`, and run ActivitySim in simulation mode.  Note that all the location
and desintation choice models share the same `destination_choice_size_terms.csv` input file, so if you
are updating all these models, you'll need to ensure that updated sections of this file for each model
are joined together correctly.

In [20]:
pd.read_csv(result_dir/f"{modelname}_coefficients_revised.csv")

            coefficient_name     value constrain
0         coef_univ_dist_0_1 -2.780799         F
1         coef_univ_dist_1_2 -3.082102         F
2         coef_univ_dist_2_5 -0.668470         F
3        coef_univ_dist_5_15 -0.563338         F
4       coef_univ_dist_15_up -0.145257         F
5         coef_high_dist_0_1 -0.869799         F
6   coef_high_grade_dist_1_2 -0.931692         F
7   coef_high_grade_dist_2_5 -0.694687         F
8        coef_high_dist_5_15 -0.285690         F
9       coef_high_dist_15_up -0.233127         F
10       coef_grade_dist_0_1 -1.886212         F
11      coef_grade_dist_5_15 -0.285452         F
12     coef_grade_dist_15_up -0.103616         F
13          coef_mode_logsum  0.074994         F

In [21]:
pd.read_csv(result_dir/f"{modelname}_size_terms.csv")

,index,segment,model_selector,TOTHH,RETEMPN,FPSEMPN,HEREMPN,OTHEMPN,AGREMPN,MWTEMPN,AGE0519,HSENROLL,COLLFTE,COLLPTE
0,0,work_low,workplace,0.000000,0.129129,0.193193,0.383383,0.120120,0.010010,0.164164,0.000,0.000000,0.000000,0.000000
1,1,work_med,workplace,0.000000,0.120120,0.197197,0.325325,0.139139,0.008008,0.210210,0.000,0.000000,0.000000,0.000000
2,2,work_high,workplace,0.000000,0.110000,0.207000,0.284000,0.154000,0.006000,0.239000,0.000,0.000000,0.000000,0.000000
3,3,work_veryhigh,workplace,0.000000,0.093000,0.270000,0.241000,0.146000,0.004000,0.246000,0.000,0.000000,0.000000,0.000000
4,4,university,school,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.593032,0.406968
5,5,gradeschool,school,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000,0.000000,0.000000,0.000000
6,6,highschool,school,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,1.000000,0.000000,0.000000
7,7,escort,non_mandatory,0.000000,0.225000,0.000000,0.144000,0.000000,0.000000,0.000000,0.465,0.166000,0.000000,0.000000
8,8,shopping,non_mandatory,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
9,9,eatout,non_mandatory,0.000000,0.742000,0.000000,0.258000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
10,10,othmaint,non_mandatory,0.000000,0.482000,0.000000,0.518000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
11,11,social,non_mandatory,0.000000,0.522000,0.000000,0.478000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
12,12,othdiscr,non_mandatory,0.252252,0.212212,0.000000,0.272272,0.165165,0.000000,0.000000,0.000,0.098098,0.000000,0.000000
13,13,atwork,atwork,0.000000,0.742000,0.000000,0.258000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
14,14,work,trip,0.000000,0.166667,0.166667,0.166667,0.166667,0.166667,0.166667,0.000,0.000000,0.000000,0.000000
15,15,escort,trip,0.001000,0.225000,0.000000,0.144000,0.000000,0.000000,0.000000,0.464,0.166000,0.000000,0.000000
16,16,shopping,trip,0.001000,0.999000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
17,17,eatout,trip,0.000000,0.742000,0.000000,0.258000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
18,18,othmaint,trip,0.001000,0.481000,0.000000,0.518000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
19,19,social,trip,0.001000,0.521000,0.000000,0.478000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
20,20,othdiscr,trip,0.252252,0.212212,0.000000,0.272272,0.165165,0.000000,0.000000,0.000,0.098098,0.000000,0.000000
21,21,univ,trip,0.000999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.591409,0.407592